.cards-navigator{height: 40px; padding: 0 15px; border-bottom: 2px; border-bottom-color: #2288ff; border-bottom-style: solid;}
.section-tab{width: 80px; height: 40px; margin: 0 8px -2px 0; border-radius: 5px 5px 0 0;}
.section-tab.btn{border-bottom-color: rgba(0,0,0,0);}
.section-tab.active.btn{border-color: #2288ff; color: #2288ff; font-weight: 600; border-bottom-color: #ffffff;}
.section-title{padding: 0 15px; margin: 8px 0;}
.card {width: 100%; margin-bottom: 15px; border-radius: 5px 5px;box-shadow: #3f6082 6px 6px 7px -6px;}
.card-info{padding: 0 10px; width: 100%;}
.card-title{width: 100%; line-height: 30px; border-bottom: #ccc dotted;}
.card-summary{height: 100%;}
.card-data-block{width: 100%; padding: 0 5px;}
.card-image{width: 100px; height: 100px;}

@media(max-width: 767px){
    .card-image{display: none;}
    .card-summary{flex-direction: column;}
    .card-data-block{justify-content: flex-start; line-height: 28px;}
}
