.welcome-screen{text-align: center; min-height: 450px;}
a.go-to-home{font-size: 36px;}
.welcome-message{margin: 20px 0; color: #28415d;}
@media(max-width: 767px){
    a.go-to-home{font-size: 22px;}
    
}
