<div id="main-header" class="main-header flex-box flex-row">
    <div id="logo-container" class="flex-box flex-centered">
        <a href="/" class="navigation-redirect-home flex-box flex-center-v">
            <img id="main-logo" class="main-logo img" src="/img/favicon/android-chrome-192x192.png">
            <p>Pocket Universe</p>
        </a>
    </div>
    <div id="site-main-navigation" class="site-main-navigation flex-box flex-centered">
        <button id="mobile-menu-switch-close" class="navigation-button flex-box mobile-menu-switch-close">close menu X</button>
        <a class="navigation-button flex-box flex-centered" href="/about">about</a>
        <a class="navigation-button flex-box flex-centered" href="/sources">sources</a>
        <a class="navigation-button flex-box flex-centered" href="/cheatsheet">cheatsheet</a>
    </div>
    <button id="mobile-menu-switch" class="mobile-menu-switch btn btn-crysal">
        menu
    </button>
</div>