<div id="main-header" class="main-header flex-box flex-row">
    <div id="logo-container" class="flex-box flex-centered">
        <a href="/" class="navigation-redirect-home">
            <img id="main-logo" class="main-logo" src="https://via.placeholder.com/150x80/2288ff/ffffff?text=universe__App">
        </a>
    </div>
    <div id="site-main-navigation" class="flex-box flex-centered">
        <a class="navigation-button flex-box flex-centered" href="/about">about</a>
        <a class="navigation-button flex-box flex-centered" href="/sources">sources</a>
    </div>
</div>