<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/restart.css'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/grid.css'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/header.css'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/footer.css'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/card.css'>
<link rel='stylesheet' type='text/css' media='screen' href='/css/modal.css'>