<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pocket Universe</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/restart.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/grid.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/header.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/footer.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/card.css'>
    <% include ../templates/favicon.html %>
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <% include ../templates/header.html %>
    
    <div class="container">
        <h1>About</h1>
        <br>
        <br>
        <p>
            Pocket Universe it's a little app that provides brief information (like the mass and size) of some objects of the known universe.
            <br>
            <br>
            The information showed on this page comes from external sources like <a href="https://www.nasa.gov/" target="_blank">NASA web site</a> 
            or even sites like <a href="wikipedia.org" target="_blank">Wikipedia</a>, however I'll try to keep the information up to date
            as much as possible.
            <br>
            <br>
            For now, the app status is <span class="thick-text red-text">Under Construction</span>. Once finished you can provide feedback and info to make this app better! 
        </p>
    </div>

    <% include ../templates/footer.html %>

    <% include ../templates/js-libraries.html %>
    <script src='/js/app.js'></script>
</body>

</html>