<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pocket Universe</title>
    <% include ../templates/main-css.html %>
    <% include ../templates/favicon.html %>
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <% include ../templates/header.html %>

    <div class="container">
        <div id="cheatsheet_list_container">Section in progress!</div>
    </div>

    <% include ../templates/footer.html %>

    <% include ../templates/js-libraries.html %>
    <% include ../templates/main-js.html %>
    <script src="/js/components/cards.js"></script>
    <script src="/js/components/home-view.js"></script>
</body>

</html>