<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pocket Universe</title>
    <% include ../templates/main-css.html %>
    <% include ../templates/favicon.html %>
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <% include ../templates/header.html %>
    
    <div class="container">
        <h1>Sources</h1>
        
        <p class="h5">The info showed in this app came from diferent sites, you can find the sources here!</p>
        <br>
        <br>
        
        <ul>
            <li>
                <a href="https://nssdc.gsfc.nasa.gov/planetary/factsheet/" target="_blank" class="word-break-all">Planets NASA Fact Sheet - https://nssdc.gsfc.nasa.gov/planetary/factsheet/</a>
            </li>
        </ul>
    </div>

    <% include ../templates/footer.html %>

    <% include ../templates/js-libraries.html %>
    <% include ../templates/main-js.html %>
</body>

</html>