<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pocket Universe</title>
    <% include ../templates/main-css.html %>
    <% include ../templates/favicon.html %>
    <link rel="manifest" href="/manifest.json">
</head>

<body>

    <div class="container">
        <div id="welcome-screen" class="welcome-screen">
            <h1>Welcome to Pocket Universe</h1>
            <br>
            <a href="/" class="btn go-to-home">
                Let's explore the universe >>
            </a>
            <br>
            <p class="welcome-message">
                The data of numerous space objects in your hands!
            </p>
           
        </div>
    </div>

    <% include ../templates/footer.html %>

    <% include ../templates/js-libraries.html %>
    <% include ../templates/main-js.html %>
</body>

</html>