<p class="h1">au</p>

<p>
    <a class="original-reference" href="https://earthsky.org/space/what-is-the-astronomical-unit" target="_blank">
        <b>source: </b>
        What is an astronomical unit? from earthsky.org
    </a>
</p>

<p>
    <b>Definition of astronomical unit</b>. For general reference, we can say that one astronomical unit (au) represents the mean distance between 
    the Earth and our sun. An AU is approximately 150 million km (93 million miles). It’s approximately 8 light-minutes.
    <br>
    More exactly, one astronomical unit (au) = 149,597,871 km (92,955,807 miles).
    <br>
    Earth’s orbit around the sun isn’t a perfect circle. So Earth’s distance from the sun changes throughout the year. 
    Astronomers give the Earth’s changing distance throughout the year relative to the astronomical unit, too. 
    For instance, when the Earth is at perihelion – its nearest point to the sun for the year, in January – it’s about 0.983 AU from the sun. 
    When our planet swings out to aphelion – its farthest point, in July – we’re about 1.017 AU away from the sun.
</p>