<p class="h1">Light speed</p>

<p>
    <a class="original-reference" href="https://www.space.com/15830-light-speed.html" target="_blank">
        <b>source: </b>
        How Fast Does Light Travel? | The Speed of Light from space.com
    </a>
</p>

<p>
    The speed of light in a vacuum is 186,282 miles per second (299,792 kilometers per second), and in theory nothing can travel faster 
    than light. 
    In miles per hour, light speed is, well, a lot: about 670,616,629 mph. If you could travel at the speed of light, you could go around the 
    Earth 7.5 times in one second.
    <br>
    Early scientists, unable to perceive light's motion, thought it must travel instantaneously. Over time, however, measurements 
    of the motion of these wave-like particles became more and more precise. Thanks to the work of Albert Einstein and others, 
    we now understand light speed to be a theoretical limit: light speed — a constant called "c" — is thought to be not achievable 
    by anything with mass, for reasons explained below. That doesn't stop sci-fi writers, and even some very serious scientists, 
    from imagining alternative theories that would allow for some awfully fast trips around the universe.
</p>
